<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name %><br>
    <%= form.text_field :name %>

    <%= form.label :price %><br>
    <%= form.number_field :price %>円

    <%= form.label :address %><br>
    <%= form.text_field :address %>

    <%= form.label :age %><br>
    <%= form.number_field :age %>年

    <%= form.label :remark %><br>
    <%= form.text_area :remark %>
  <hr>

  <%= form.fields_for :stations do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :railway %><br>
    <%= f.text_field :railway %>

    <%= f.label :walk_minute %><br>
    <%= f.text_field :walk_minute %>分
  <% end %><br>

    <p><%= form.submit "登録する" %></p>

<% end %>
